.trust-section {
  padding: 40px 0;
}



.trust-title {
  font-weight: 500;
  color: #111;
}

.trust-flex {
  max-width: 1380px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.trust-item {
  position: relative;
  padding: 10px 20px;
  font-size: 40px;
}

.trust-item:nth-child(1),
.trust-item:nth-child(4) {
  width: 19%;
}


.trust-item:nth-child(2),
.trust-item:nth-child(3) {
  width: 20%;
}
.trust-number {
  font-size: 38px;
  font-weight: 600;
  color: #0b3d91;
  margin-bottom: 10px;
}

.trust-text {
  font-size: 15px;
  color: #111111;
  max-width: 200px;
  margin: 0 auto;
  font-weight: 500;
}

.trust-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 20%;
  height: 60%;
  width: 1px;
  background: linear-gradient(to bottom, transparent, #ff4d4d, transparent);
}

@media (max-width: 1024px) {
  .trust-flex {
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    gap: 30px 0;
  }

  .trust-item {
    width: 48%;  
    padding: 10px;
  }

  .trust-item::after {
    display: none;
  }

  .trust-number {
    font-size: 30px;
  }

  .trust-text {
    font-size: 14px;
  }
}


@media (max-width: 767px) {
  .trust-flex {
    flex-wrap: wrap !important; 
    justify-content: center;
    gap: 30px 0; 
    /* padding: 0 15px; */
  }

  .trust-item:nth-child(1),
  .trust-item:nth-child(2),
  .trust-item:nth-child(3),
  .trust-item:nth-child(4) {
    width: 50% !important; 
    flex: 0 0 50%;
    padding: 10px;
    margin: 0;
  }


  .trust-item::after {
    display: none !important;
  }

  .trust-number {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .trust-text {
    font-size: 15px;
    max-width: 160px;
    line-height: 1.2;
  }
}

@media (max-width: 400px) {
  .trust-number {
    font-size: 22px;
  }
  .trust-text {
    font-size: 15px;
  }
}
