.responsibility-section {
    background-color: #F0F0F0;
    border-radius: 15px;
}

.side{
    padding-left: 2%;
    padding-right: 2%;
}
.mobile-heading {
    display: none;
}

.left-section {
    padding: 30px 0 20px 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resp-header {
    padding-top: 20px;
}

.desktop-heading {
    margin-bottom: 28px;
}

.right-section img {
    height: auto;
    width: 105%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

@media (max-width: 767px) {
    .responsibility-section {
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        /* gap: 18px; */

    }
.side{
    padding-left: 5%;
    padding-right: 5%;
}
    .mobile-heading {
        display: block;
        padding:0;
        padding-bottom: 20px;
    }

    .desktop-heading {
        display: none;
    }

    .right-section {
        order: 2;
        padding: 0;
    }

    .left-section {
        order: 3;
        padding: 0 !important;
        margin: 0;
    }

    

    .left-section .seconnd-para{
        margin-bottom: 0;
        padding: 0;
       
    }

    .left-section p {
        font-size: 15px;
        text-align: center;
    }

    .right-section img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .first-para{
        margin: 0;
        padding-bottom: 5px;
    }

 
}



@media (max-width: 992px) {  
    .left-section {
        padding-left: 27px !important;
        margin-bottom: 0px !important;
    }

    .desktop-heading {
        margin-left: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom:6px !important;      
        padding-top: 25px;      
    }

    .left-section p {
        margin-bottom: 0px !important;        
    }

    .seconnd-para{
        padding-top: 7px;
        padding-bottom: 20px;
    }
}