
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Euclid';

}


@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid Circular A Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid Circular A Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid Circular A Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid Circular A SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid Circular A Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Euclid', sans-serif;
 
}


:root {

  --side-space: 6%;
  --side-space-md: 5%;
  --side-space-sm: 20px;

  --section-space: 40px;
  --section-space-md: 35px;
  --section-space-sm: 30px;

 
  --heading-size: 30px;
  --heading-size-md: 26px;
  --heading-size-sm: 22px;

  --para-size: 15px;
  --para-size-sm: 14px;

  --para-line-height: 21px;

 
  --black: #111111;
  --white: #FFFFFF;
  --gray: #666;

 
}


.section-space {
  margin-top: 50px;
  margin-bottom: 50px;
}

.side-space {
  padding-left: 6%;
  padding-right: 6%;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.heading {
  font-family: 'Euclid', sans-serif;
  font-weight: 500;
  font-size: var(--heading-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--black);
  font-size: 30px;
}


@media(max-width:768px){
  .heading{
    font-size: 26px;
  }
}

.subheading {
  font-family: 'Euclid', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.para {
  font-family: 'Euclid', sans-serif;
  font-weight: 400;
  font-size: var(--para-size);
  line-height: 23px;
  /* color: var(--gray); */
  padding-top: 10px;
}


.btn-custom {
  display: inline-block;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary-custom {
  background-color: #000;
  color: #fff;
}

.btn-outline-custom {
  background: transparent;
  border: 1px solid #000;
  color: #000;
}

.btn-custom:hover {
  opacity: 0.85;
}


/* .mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
} */






@media (max-width: 1200px) {
  :root {
    --side-space: var(--side-space-md);
    --section-space: var(--section-space-md);
    --heading-size: var(--heading-size-md);
  }
}


@media (max-width: 1024px) {
  :root {
    --side-space: 4%;
    --section-space: 32px;
    --heading-size: 24px;
  }
}


@media (max-width: 768px) {
  :root {
    --side-space: var(--side-space-sm);
    --section-space: var(--section-space-sm);
    --heading-size: var(--heading-size-sm);
    --para-size: var(--para-size-sm);
  }

  .btn-custom {
    padding: 10px 18px;
    font-size: 14px;
  }
  .section-space {
  margin-top: 30px;
  margin-bottom: 30px;
}

.side-space{
   padding-left: 3%;
  padding-right: 3%;
}
}


@media (max-width: 480px) {
  :root {
    --heading-size: 20px;
    --para-size: 13px;
    --section-space: 25px;
  }

  .btn-custom {
    width: 100%;
    text-align: center;
  }

  .section-space {
  margin-top: 30px;
  margin-bottom: 30px;
}
}